.DS_Store
node_modules/
out/

# Sample Application
test/SampleApplication/.vscode/.react/debuggerWorker.js
test/SampleApplication/.vscode/.react/index.android.bundle
test/SampleApplication/.vscode/.react/index.android.map
test/SampleApplication/android/
test/SampleApplication/ios/
test/SampleApplication/.flowconfig
test/SampleApplication/.gitignore
test/SampleApplication/.watchmanconfig
