registry=https://pkgs.dev.azure.com/microsoft/VSWebDiag/_packaging/npm-packages/npm/registry/
always-auth=true
; begin auth token
//pkgs.dev.azure.com/microsoft/VSWebDiag/_packaging/npm-packages/npm/registry/:_authToken=
//pkgs.dev.azure.com/microsoft/VSWebDiag/_packaging/npm-packages/npm/:_authToken=
; end auth token

