!ReactTypings/**
!js-patched/**
.vscode/**/*
.vscode-test/**
.gitignore
test/**
out/**
src/**
!src/**/*.js
**/*.js.map
SampleApplication/**
tools/**
nls.*.json
package.nls.*.json
.vscodeignore
gulpfile.js
preparebuild.bat
tsconfig.json
tslint.json
release/**
.github/**
.npmignore
npm-shrinkwrap.json
