!ReactTypings/**
!js-patched/**
.vscode/**/*
.vscode-test/**
.gitignore
test/**
out/**
src/**
i18n/**
.ci/**
node_modules/**
**/*.js.map
SampleApplication/**
tools/**
.vscodeignore
gulpfile.js
prepareBuild.bat
tsconfig.json
tslint.json
release/**
.github/**
.npmignore
npm-shrinkwrap.json
SmokeTestLogs
