!ReactTypings/**
!js-patched/**
.vscode/**/*
.vscode-test/**
.gitignore
test/**
out/**
!src/**/*.js
**/*.js.map
SampleApplication/**
tools/**
.vscodeignore
.travis.yml
gulpfile.js
preparebuild.bat
tsconfig.json
tslint.json
release/**
.github/**
.npmignore
npm-shrinkwrap.json
