.DS_Store
npm-debug.log
Thumbs.db
node_modules/
out/
keybindings.*.json
test_data/
test-results.xml
config.dev.json
*SmokeTests.xml
resources/latestRNApp/**
resources/latestExpoApp/**
resources/pureRNExpoApp/**
resources/.vscode-test/**
!.mocharc.js
xunit.xml